<app-header></app-header>
<div class="flex-box">
  <form class="form-authorization" #ResetPasswordForm="ngForm" (ngSubmit)="OnSubmit(ResetPasswordForm)">
    <h2>Оновити пароль</h2>
      <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="model.Email" placeholder="E-mail" [pattern]="emailPattern">
      <div [hidden]="Email.valid || Email.untouched" class="auth-exception">
        Некорректный E-mail
      </div>
      
      <input class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="model.Password" placeholder="Пароль" required  minlength="5">
      <div [hidden]="Password.valid || Password.untouched" class="auth-exception">
        Не менше 5 символів
      </div>
      
      <input class="validate" type="password" name="ConfirmPassword" #ConfirmPassword="ngModel" [(ngModel)]="model.ConfirmPassword" placeholder="Повторити пароль" required  minlength="5">
      <div *ngIf="model.Password != ''" [hidden]="model.Password == model.ConfirmPassword" class="auth-exception">
        Пароль не збігається
      </div>
      <div [hidden]="ConfirmPassword.valid || ConfirmPassword.untouched" class="auth-exception">
        Не менше 5 символів
      </div>

      <input type="hidden" name="Code" #Code="ngModel" [(ngModel)]="model.Code" value="12345">

      <button [disabled]="!ResetPasswordForm.valid" class="btn-submit" type="submit">Відправити</button>
  </form>
</div>