<app-header></app-header>
<div class="flex-box">
  <form class="form-authorization" #ForgotPasswordForm="ngForm" (ngSubmit)="OnSubmit(ForgotPasswordForm)">
    <h2>Забув пароль</h2>
      <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="model.Email" placeholder="E-mail" [pattern]="emailPattern">
      <div [hidden]="Email.valid || Email.untouched" class="auth-exception">
        Некоректний E-mail
      </div>
      <button [disabled]="!ForgotPasswordForm.valid" class="btn-submit" type="submit">Відправити</button>
  </form>
</div>